<div *ngIf="artisans$ | async as artisans; else loading" class="container">
  
  <header>
    <h1>Artisans du secteur Alimentation</h1>
  </header>

  <main>
    <!-- Utilisation de <section> pour regrouper les cartes des artisans -->
  <section class="row artisan-list">
    <!-- ng-container pour gérer chaque artisan individuellement -->
    <ng-container *ngFor="let artisan of artisans">
      <!-- Utilisation de <article> pour chaque artisan -->
      <article class="col-md-4 col-sm-6 mb-4">
        <div class="artisan-card">
          <!-- Encapsulation du titre de l'artisan dans un header -->
          <header>
            <h2>{{ artisan.name }}</h2>
          </header>
          <div class="div-img">
            <img [src]="artisan.image" alt="{{ artisan.name }}" class="artisan-image img-fluid">
          </div>
          <p><strong>Spécialité :</strong> {{ artisan.specialty }}</p>
          <p><strong>Note :</strong>
            <!-- Étoiles pleines -->
            <ng-container *ngFor="let star of [].constructor(artisan.rating)">
              <i class="bi bi-star-fill" aria-hidden="true"></i>
            </ng-container>
            <!-- Étoiles vides -->
            <ng-container *ngFor="let emptyStar of [].constructor(5 - artisan.rating)">
              <i class="bi bi-star" aria-hidden="true"></i>
            </ng-container>
          </p>
          <p><strong>Localisation :</strong> {{ artisan.address.street }}, {{ artisan.address.city }}, {{ artisan.address.postalCode }}</p>
          <p>{{ artisan.description }}</p>
          <!-- Footer pour les liens d'action -->
          <footer class="text-center">
            <a [routerLink]="['/artisan-detail', artisan.id]">Voir détails</a>
          </footer>
        </div>
      </article>
    </ng-container>
  </section>
  </main>
</div>

<!-- Template de chargement -->
<ng-template #loading>
  <p class="loading">Chargement...</p>
</ng-template>
