

  <footer class="text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Menu de liens -->
        <div class="col-md-6">
          <div class="footer-menu">
            <ul class="list-unstyled">
              <li><a class="text-white text-decoration-none fw-bold" routerLink="/mentions-legales">Mentions légales</a></li>
              <li><a class="text-white text-decoration-none fw-bold" routerLink="/donnees-personnelles">Données personnelles</a></li>
              <li><a class="text-white text-decoration-none fw-bold" routerLink="/accessibilite">Accessibilité</a></li>
              <li><a class="text-white text-decoration-none fw-bold" routerLink="/cookies">Cookies</a></li>
            </ul>
          </div>
        </div>
  
        <!-- Informations de contact -->
        <div class="col-md-6">
          <div class="footer-contact">

            <p class="titre-footer fw-bold">Où Nous Trouver ?</p>
            <p>101 cours Charlemagne</p>
            <p>CS 20033</p>
            <p>69269 LYON CEDEX 02</p>
            <p>France</p>
            <p>+33 (0)4 26 73 40 00</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  