<div *ngIf="artisans$ | async as artisans; else loading" class="container">
  <!-- En-tête de la section des artisans -->
  <header>
    <h1>Artisans du secteur Services</h1>
  </header>

  <main>
    <!-- Section principale contenant la liste des artisans -->
  <section class="row">
    <!-- Utilisation de *ngFor pour parcourir et afficher chaque artisan -->
    <article *ngFor="let artisan of artisans" class="col-md-4 col-sm-6 mb-4">
      <!-- Carte de l'artisan -->
      <div class="artisan-card">
        <!-- En-tête de la carte avec le nom de l'artisan -->
        <header>
          <h2>{{ artisan.name }}</h2>
        </header>
        
        <!-- Image de l'artisan -->
        <figure class="div-img">
          <img [src]="artisan.image" alt="{{ artisan.name }}" class="artisan-image img-fluid">
        </figure>
        
        <!-- Affichage de la spécialité de l'artisan -->
        <p><strong>Spécialité :</strong> {{ artisan.specialty }}</p>
        
        <!-- Affichage de la note de l'artisan en étoiles -->
        <p><strong>Note :</strong>
          <!-- Étoiles pleines (en fonction de la note de l'artisan) -->
          <ng-container *ngFor="let star of [].constructor(artisan.rating)">
            <i class="bi bi-star-fill" aria-hidden="true"></i>
          </ng-container>

          <!-- Étoiles vides pour compléter jusqu'à 5 étoiles -->
          <ng-container *ngFor="let emptyStar of [].constructor(5 - artisan.rating)">
            <i class="bi bi-star" aria-hidden="true"></i>
          </ng-container>
        </p>
        
        <!-- Affichage de l'adresse de l'artisan -->
        <p><strong>Localisation :</strong> {{ artisan.address.street }}, {{ artisan.address.city }}, {{ artisan.address.postalCode }}</p>
        
        <!-- Description de l'artisan -->
        <p>{{ artisan.description }}</p>
        
        <!-- Lien pour voir les détails de l'artisan -->
        <div class="text-center">
          <a [routerLink]="['/artisan-detail', artisan.id]">Voir détails</a>
        </div>
      </div>
    </article>
  </section>
  </main>
</div>

<!-- Template de chargement à afficher lorsque les artisans sont en cours de chargement -->
<ng-template #loading>
  <p class="loading">Chargement...</p>
</ng-template>
